---
---
@import "{{ site.theme }}";

.container-lg {
  max-width: 1435px;
}

@media screen and (min-width: 1300px) {
  #markdown-toc {
    position: absolute;
    left: 0px;
    top: 350px;
  }
  .main-content:has(#markdown-toc) {  
    margin-left: 350px;
    max-width: 90%;
  }
}
