---
---
@import "{{ site.theme }}";

.container-lg {
  max-width: 1435px;
}

h1 a {
  color: white
}

h1 a:hover {
  text-decoration: none
}

@media screen and (min-width: 1300px) {
  #markdown-toc {
    position: absolute;
    left: 0px;
    top: 390px;
    border-right: solid 1px #efefef;
    padding-right: 20px;
  }
  .main-content:has(#markdown-toc) {  
    margin-left: 350px;
    max-width: 90%;
  }
  .page-header {
    padding: 3rem 6rem;
  }
}
